<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoVideoEditor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PhotoVideoEditorTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>647E6D22219986E1008C66B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF43105D22C035C80051FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF43106522C035C90051FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF43107922C036420051FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF43108122C036420051FAA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
